body {
    background-color: #000000;
}

h1 {
    color: beige;
    font: oblique bold 120% cursive; 
}

p {
    font:oblique bold 120% cursive;
    color: white;
}

footer {
    font:oblique bold 120% cursive;
    color: aliceblue
}